{{ useownbody = True }}

{{extend 'layout.html'}}

{{ block body }}

    {{ exem = [{"name":"Assassin's Creed: Renascença","link":"images/others/itens/livros/assassinscreedrenascenca.jpg"},{"name":"CD The Beginning (OOR)","link":"images/others/itens/cds/OOR_The_Beginning.jpg"},{"name":"American English File 2","link":"images/others/itens/livros/AmericanFile2.jpg"},{"name":"Samsung Galaxy Y","link":"images/others/itens/eletronicos/Samsung_Galaxy_Y.jpg"},{"name":"Pelúcia Jirachi","link":"images/others/itens/brinquedos/pelucia-jirachi.jpg"},{"name":"Use a Cabeça! Programação","link":"images/others/itens/livros/Programao-use-a-cabeca.jpg"}]  }}

    <!-- Masthead ================================================== -->
    <header class="mastheader row">
      {{if response.title:}}
          <div class="span12">
              <center>
                  <div>
                      <h1>{{=response.title}}</h1>
                      <small>{{=response.subtitle or ''}}</small>
                  </div>
                  <div class="gray-line"></div>
              </center>
          </div>
      {{pass}}
    </header>

    <div id="div_search_things">

        <div id = "div_buscar_por">
            <div class="container-fluid">
                <div class="row-fluid">
           
                    <div class="span2">
                        <p> Buscar por: </p>
                    </div>
                    <div class="span3">
                        <select id="se-categoria">
                            <option value="4863277368606720">Brinquedos e Games</option>
                            <option value="5707702298738688">CDs, DVDs e BLU-RAYs</option>
                            <option value="6270652252160000">Informática</option>
                            <option value="5812155903377408">Livros, Mangás e HQs</option>
                            <option value="5989177275449344">Móveis</option>
                            <option value="5426227322028032">Outros</option>
                            <option value="5144752345317376">Vestuário</option>
                        </select>
                    </div>
                    <div class="span3">
                        <input type="text" class="form-control" id="in_tituloproduto" placeholder="Título do produto">
                    </div>
                    <div class="span2">
                        <button class="btn btn-inverse" style="min-width: 120px;"> Buscar </button>
                    </div>

                </div>
            </div>
        </div><!-- div_buscar_por -->

        <div class="gray-line"></div>

        <div style="width: 100%;margin: 20px 0px;">
            <h4> Anúncios recentes: </h4>
        </div>

        <div id="div_results">
                <div id="div_anuncios" style="margin-top: 40px;">

                    <div class="row">
                        {{ for e in exem: }}
                            <div class="span4">
                                <div class="well">
                                    <center>
                                        <img class="img-rounded size-img" src="{{=URL('static',  e['link'] )}}">
                                        <h4> {{ = e["name"] }} </h4>
                                        <p style="width: 100px;"><a href="#" class="btn btn-primary" style="width: 75%;"> Quero » </a></p>
                                    </center>
                                </div>
                            </div>
                        {{ pass }}                   
                    </div> <!-- .row -->

                </div> <!-- div_anuncios -->
        </div><!-- div_results -->

    </div>

{{ end }}