<div class="accordion" style="width: 150px;">

	<div class="accordion-group">
		<div class="accordion-heading">
			<center>
				<img src="{{=URL('static','images/outros/perfil/griffith.jpg')}}" style="width: 80%; height: 150px; display: block;">
			</center>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<div class="accordion-toggle div-blue">
				Griffith
			</div>			
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" href="#collapseThree">
			Meus Itens
			</a>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" href="#collapseThree">
			Minhas trocas
			</a>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" href="#collapseThree">
			Minhas doações
			</a>
		</div>
	</div>

</div>