{{from common import requires_membership}}

<div class="accordion" style="width: 150px;">
	<div class="accordion-group">
		<div class="accordion-heading">
			<center>
				<img src="{{=URL('download', args=auth.user.image)}}" style="width: 80%; height: 150px; display: block;" />
			</center>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<div class="accordion-toggle div-blue">
				{{=auth.user.first_name+' '+auth.user.last_name}}
			</div>			
		</div>
	</div>
	{{if requires_membership(auth.user_id,'admin'):}}
		{{include 'account/account_menu_admin.html'}}
	{{else:}}
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" href="{{=URL('account', 'myitems')}}">
				Meus Itens
				</a>
			</div>
		</div>
	{{pass}}
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" href="#">
			Minhas trocas
			</a>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" href="#">
			Minhas doações
			</a>
		</div>
	</div>
</div> <!-- .accordion -->