<div class="accordion-group">
	<div class="accordion-heading">
		<a class="accordion-toggle" href="{{=URL('account', 'users')}}">
		Usuários
		</a>
	</div>
</div>
<div class="accordion-group">
	<div class="accordion-heading">
		<a class="accordion-toggle" href="{{=URL('account', 'categories')}}">
		Categorias
		</a>
	</div>
</div>
<div class="accordion-group">
	<div class="accordion-heading">
		<a class="accordion-toggle" href="{{=URL('account', 'myitems_admin')}}">
		Meus Itens Admin
		</a>
	</div>
</div>
