{{ useownmenu = True }}

{{extend 'layout.html'}}

{{ block js }}
	<script>
		$(document).ready(function(){
		    $("#btn-newitem").click(function(){
		        $("#div-additem").toggle();
		    });
		});
	</script>
{{ end }}



{{ block leftmenu }}
	{{ include 'account/account_menu.html' }}
{{ end }}

{{ block nameofmenu }}
	Meus Itens
{{ end }}

{{ block descriptionofmenu }}

	<div>
		<button id="btn-newitem" class="btn btn-inverse"> >>> Novo Item </button>
		<div id="div-additem" style="display:none; padding: 15px;">
			<div>
				<h1> Cadastrar Item </h1>
				<div>
					<label> Título </label>
					<input id="in-title" type="text"/>
				</div>
				<div>
					<label> Categorias </label>
					<select id="se-category">
						<option value="4863277368606720">Brinquedos e Games</option>
						<option value="5707702298738688">CDs, DVDs e BLU-RAYs</option>
						<option value="6270652252160000">Informática</option>
						<option value="5812155903377408">Livros, Mangás e HQs</option>
						<option value="5989177275449344">Móveis</option>
						<option value="5426227322028032">Outros</option>
						<option value="5144752345317376">Vestuário</option>
					</select>
				</div>
				<div>
					<label> Descrição </label>
					<input id="in-description" type="text"/>
				</div>
				<button  class="btn btn-inverse"> <i class="icon-ok icon-white"></i> Salvar </button>
			</div>
		</div><!-- div-additem -->
	</div>

	<div class="gray-line"></div>

	<div id = "">

	</div>

{{ end }}

