*.pyc
*.pyo
*.1
*.bak
*.bak2
*.svn
*.w2p
*.class
*.rej
*.orig
Thumbs.db
.DS_Store
index.yaml
routes.py
logging.conf
httpserver.log
httpserver.pid
parameters*.py
./admin.w2p
./examples.w2p
cron.master
HOWTO-web2py-devel
*.sublime-project
*.sublime-workspace
.idea/*